@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@theme {
  --font-display: "Crique Grotesk", "sans-serif";
}
